@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    font-family: SUSE;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 90px;
    font-size: 22px;
    z-index: 99;
}


header nav{
    display: flex;
    font-size: 26px;
    flex-direction: row;
}



/* Lista não ordenada horizontal */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}
  
li a {
display: block;
text-align: center;
padding: 16px;
text-decoration: none;
}
/* Finalização */



.home{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
    overflow: hidden;
}

.home-text{
    width: 50%;
    z-index: 99;
    text-align: center;
    margin-left: 10px;
}

.tabela{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-img{
    border: 5px solid #efefd0;
}

a{
    color: #f7c59f;
}

a:hover{
    color: #FF6B35;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}